/*Shared styles */
*{
  font-family: 'Lato', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
.btn-primary{
  border-radius: 5px;
  background: #FF900E;
  color: #fff;
  font-size: 1.25rem;
  border: none;
  padding:20px 25px;
  cursor: pointer;
}
.text-light-gray{
  color: #727272;
}
.section-title{
  color: #131313;
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 10px;
}
/*header styles*/
nav{
  background: rgba(255, 144, 14, 0.10);
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul{
  display: flex;
}
nav li{
  margin-right: 25px;
  list-style: none;
  font-size: 1em;
  font-weight: 500;
}
nav li a{
  text-decoration: none;
  color:  #424242;
}
/*banner styles*/
.banner-content{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.banner-title{
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner img{
  width: 100%;
  margin:20px 0;
  
}
/*Main styles */
main{
  max-width: 1440px;
  margin: 70px auto;
}
.team-container{
  display: flex;
  align-items: center;
}
.team-image-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
}
.team-content{
  padding-left: 70px;
  padding-right: 70px;
}
.team-title{
  color: #131313;
  font-size: 2.6rem;
  font-weight: 700;
}
.team-title .text-primary{
  color: #FF900E;
}
/*Features styles*/
.features-container{
  display: flex;
  margin-top: 130px;
  gap: 100px;
}
.features-content .section-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

.card{
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin: 10px 0;
}
.ten-years-badge{
  border-radius: 8px;
  background: #FF900E;
  color: #fff;
  padding: 25px;
  width: 300px;
  text-align: center;
  position: relative;
  bottom: 100px;
}
h2{
  font-size: 4rem;
  margin: 0;
}
.ten-years-badge p{
  font-size: 1.5rem;

}
.facts-card-container{
  display: flex;
  justify-content: space-around;
}
.card{
  border-radius: 6px;
  border: 1px solid #FF900E;
  text-align: center;
  padding: 30px;
}
.facts-card-container .card-stats{
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facts-card-container .card-title{
  font-size: 1.25rem;
  color: #727272;
  font-weight: 600;
  margin-top: 5px;
}
.sponsors-container{
  text-align: center;
  margin-top: 80px;
}
.sponsor-image{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}
.sponsor-image img{
  width: 165px;
}
footer p{
  color: #424242;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 6px;
  background: #FFF4E7;
  width: 1400px;
  padding-top: 50px;
  margin-left: 40px;

}

/*Responsive media queries*/
/*Mobile devices */
@media screen and (max-width:576px) {
  header{
    width: 90%;
    padding: 20px;
  }
  nav,
  .team-container,
  .features-container,
  .facts-card-container,
  .sponsor-image{
    flex-direction: column;
  } 
  .facts-card-container{
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;

  }
  .team-image-container{
    grid-template-columns: 1fr;
  }
  .features-image img{
    width: 100%;
  }
  footer p{
    width: 100vw;
    margin: 0;
    text-align: center;
    font-size: 16px;
    padding: 0;
  }
 
}

/*tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px){
  header{
    padding: 50px;
  }
  nav,
  .team-container,
  .sponsor-image{
    flex-direction: column;
  } 
  footer{
    font-size: 14px;
    text-align: center;
  }
}