/*Shared styles */
*{
  font-family: 'Lato', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
.btn-primary{
  border-radius: 5px;
  background: #FF900E;
  color: #fff;
  font-size: 1.25rem;
  border: none;
  padding:20px 25px;
  cursor: pointer;
}
nav{
  background: rgba(255, 144, 14, 0.10);
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title{
  color: #131313;
  font-size: 2.6rem;
  font-weight: 700;
}
ul{
  display: flex;
}
nav li{
  margin-right: 25px;
  list-style: none;
  font-size: 1em;
  font-weight: 500;
}
nav li a{
  text-decoration: none;
  color:  #424242;
}
/*banner styles*/
.banner-content{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.banner-title{
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description{
  color: #727272;
}
.banner img{
  width: 100%;
  margin-top: 20px;
}

/*Responsive media queries*/
/*Mobile devices */
@media screen and (max-width:576px) {
  header{
    padding: 20px;
  }
  nav{
    flex-direction: column;
  } 
}

/*tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px){
  header{
    padding: 50px;
  }
  nav{
    flex-direction: column;
  }
  
}